/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #1493af;
  --f7-theme-color-rgb: 20, 147, 175;
  --f7-theme-color-shade: #10748a;
  --f7-theme-color-tint: #18b2d4;
}

/* Your app custom styles here */
#map {
  height: 100%;
}

#userScore {
  color: var(--f7-theme-color);
  font-size: 72px;
}

.panel {
  background-color: #1f1f1f;
  color: white;
  padding: 0px;
}

#photoGalleryContainer img {
  max-width: 100%;
  /* max-height: 400px; */
  margin: auto;
  box-shadow: 2px 2px 5px rgb(33, 33, 33);
}

.map-button {
  width: 100%;
}

.page-content {
  text-align: center;
}

.main-image {
  margin: auto;
  margin-top: 5%;
  width: 92%;
  height: 40%;
}

.main-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* float: center; */
  object-fit: cover;
  object-position: 50% 50%;
}

.main-element {
  box-shadow: 5px 5px 5px #0000007a;
}